{% extends "ojbase.html" %}

{% block title %}
{{title}}
{% endblock %}
{%block content%}

<center>
    <h3>Contest RankList -- {{contest.title}}</h3>
    {%if not contest.private or context.ojlogin.isManager%}
    <a href="/contest_rank_xls/cid={{contest.contest_id}}">Download</a>
    {%endif%}
</center><br>
<div align = "center">
    <a class="contest_st" href="/contest/cid={{contest.contest_id}}/">[Problem]</a>
    <a class="contest_st" href="/contest_status/cid={{contest.contest_id}}/">[Status]</a>
</div>
<table align="center" id="contest" width="90%" >
    <thead>
        <tr align="center" height=30>
            <th width="5%" class="header">Rank</td>
            <th width="5%" class="header">User</th>
            <th width="5%" class="header">Solved</th>
            {%if contest.oi_mode%}
            <th width="10%" class="header">Score</th>
            {%else%}
            <th width="10%" class="header">Penalty</th>
            {%endif%}
            {%for var in problem%}
            <th ><a href="/problem/num={{var.problem_id}}/cid={{contest.contest_id}}/">{{var.title}}</a></th>
            {%endfor%}
        </tr>
    </thead>
    <tbody>
        {%if contest.oi_mode%}
            {%include '__c_rank_oi.html'%}
        {%else%}
            {%include '__c_rank_acm.html'%}
        {%endif%}
	</tbody>
	</table>
{%endblock%}


