{% extends "ojbase.html" %}

{% block title %}
{{title}}
{% endblock %}

{%block content%}
<center>
    <div>
        <h3>Contest&nbsp{{contest.contest_id}} - test</h3>

        <p>Start Time: <span class="contest_time">{{contest.start_time}}</span>
        End Time: <span class="contest_time">{{contest.end_time}}</span></p>

        <p>Current Time:<span id="nowdate" class="contest_time">2013-10-20 15:44:05</span>
        Status:<span class="red">Running</span>&nbsp;&nbsp;
        {%if contest.private == 0%}
        <span class="blue">Public</span>
        {%else%}
        <span class="red">Private</span>
        {%endif%}
        </p>
        <br>
        <span>
            <a class ="contest_st"href="/contest_status/cid={{contest.contest_id}}">[Status]</a>
            <a class ="contest_st" href="/contest_rank/cid={{contest.contest_id}}">[Rank]</a>
        </span>
    </div>
    <br>
    <table  width="90%" id = "contest">
        <thead>
            <tr align="center" class = "" height=30>
                <th width="5%">Pass</th>
                <th width="10%">Problem ID</th>
                <th width="50%">Title</th>
                <th width="10%">Score</th>
                <th width="10%">AC</th>
                <th width="10%">Submit</th>
            </tr>
        </thead>
        <tbody>
            {%for p in problem_list%}
            <tr align="center"class="{% cycle "evenrow" "oddrow" %}">
                {%if p.problem_id in ac_list and contest.open_rank%}
                <td class="pass"> </td>
                {%else%}
                <td > </td>
                {%endif%}
                <td> {{p.num}}</td>
                <td>    <a href="/problem/num={{p.problem_id}}/cid={{contest.contest_id}}">{{p.title}}</a>  </td>
                {% if contest.oi_mode == True%}
                <td> {{p.score}}</td>
                {%else%}
                <td> ----</td>
                {%endif%}
                {%if contest.open_rank or context.ojlogin.isManager%}
                <td>    {{p.Ac}}</td>
                <td>    {{p.submit}}</td>
                {%else%}
                <td></td>
                <td></td>
                {%endif%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
<script type="text/javascript" src="/static/js/server_time.js"></script> 
</center>

{%endblock%}

