{% extends "ojbase.html"%}

{%block title%}
{% endblock%}


{%block content%}
<div id="main">
    <h3 align='center'>
             {%for pagenum in list_info.len%}
                 {%if pagenum  == list_info.page%}
                     <span class=red>{{pagenum}}</span>
                 {% else %}
                     <a href="/contest_list/page={{pagenum}}">{{pagenum}} </a>
                 {%endif%}
             {%endfor%}
    </h3>
    <center>
        <h2>Contest List</h2>
        ServerTime:<span id="nowdate">2013-10-19 18:56:26</span>
        <table width="90%",align ="center" id = "contest">
            <thead height=30>
                <tr class="" id = "rankset" align="center" height =30>
                    <th width="10%">ID</td>
                    <th width="40%">Name</td>
                    <th width="10%">Mode</td>
                    <th width="30%">Status</td>
                    <th width="10%">Private</td>
                </tr>

            </thead>
            <tbody>
                {% for contest_ in contest%}
                <tr class ="{%cycle "evenrow" "oddrow" %}" align="center">
                    <td >   {{contest_.contest_id}}</td>
                    <td >   <a href="/contest/cid={{contest_.contest_id}}">{{contest_.title}}</a></td>
                    {%if contest_.oi_mode == True%}
                    <td >  OI </td>
                    {%else%}
                    <td >  ACM </td>
                    {%endif%}
                    <td >   <span class="red"> End_time&nbsp;<span class="green"> {{contest_.end_time}}</span></span></td>
                    <!--<td>   <span class="green">Contest Finished@{{contest_.end_time}}</span> </td>-->
                    {% if contest_.private == 0%}
                    <td >   <span class="blue">Public</span></td>
                    {% else %}
                    <td >   <span class="red">Private</span></td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>        

    </table>
</center>
<script type="text/javascript" src="/static/js/server_time.js"></script> 
{%endblock%}
