{%extends "ojbase.html"%}

{%block title%}
mail
{%endblock%}

{%block content%}
	<center class = "usermail">
		<input id="Inbox" class="btn" type="button" value="Inbox"><input id="NewMail" class="btn" type="button" value="NewMail"><input id="Sented" class="btn" type="button" value="Sented"><input id="SendMail" class="btn" type="button" value="SentMail">
		<br/> <br/>
		<table class='tb'>
			<thead>
			<tr>
				<th width=5%></th>
				<th width=20%>sender</th>
				<th width=40%>title</th>
				<th witdh=25%>send time</th>
			</tr>
			</thead>
			<tbody>
			{%for mail in mails%}
				<tr>
					{% if mail.is_new%}
						<td>new</td>
					{%else%}
						<td></td>
					{%endif%}
					<td>{{mail.mail_to}}</td>
					<td>{{mail.title}}</td>
					<td>{{mail.in_date}}</td>
				</tr>
			{%endfor%}
			</tbody>
		</table>
	</center>
{%endblock%}
