<div class='navbar'>
	<a  class='btn'  href="/"><i class="icon-home"></i>Home</a>
	<a  class='btn ' href="/"><i class="icon-question-sign"></i>ProblemSet</a>
	<a  class='btn ' href="/status"><i class="icon-check"></i>Status</a>
	<a class='btn ' href="/rank"><i class="icon-signal"></i>Ranklist</a>
	<a class='btn '  href="/contest_list"><i class="icon-fire"></i>Contest</a>
	<a class='btn ' href="recent-contest.php"><i class="icon-share"></i>Recent</a>
	<a class='btn ' href="faqs.php"><i class="icon-info-sign"></i>F.A.Qs</a>
</div><!--end menu-->

