{%extends "ojbase.html"%}

{%block title%}题目{{problem.problem_id}}{%endblock%}


{%block content%}
	<center>
		<h2>Problem {{problem.problem_id}}: {{problem.title}}</h2> <br>
		<span class="green">Time Limit:</span>{{problem.time_limit}} Ms| 
		<span class="green">Memory Limit:</span>{{problem.memory_limit}} MB<br>
		<span class="green">Difficulty:</span>{{problem.hard}}<br>		
	</center>
	<br>
{%if cid != -1%}
    <div align ="center">
    <a class ="contest_st" href ="/contest/cid={{cid}}/">[Problem]</a>
    <a class = "contest_st" href = "/contest_rank/cid={{cid}}">[Rank]</a>
    </div><br>
{%endif%}

<div>
	<h2>Description</h2>
    <div class="content">
        {%for var in problem_ab.description%}
        {{var}}<br>
        {%endfor%}
		{%if problem.problem_id == 64 %}
		<img src = /static/problem_image/64.png>
		{%endif%}
		{%if problem.problem_id == 66 %}
		<img src = /static/problem_image/66.jpg>
		{%endif%}
		{%if problem.problem_id == 68 %}
		<img src = /static/problem_image/68.jpg>
		{%endif%}
		{%if problem.problem_id == 74 %}
		<img src = /static/problem_image/74.jpg>
		{%endif%}
		{%if problem.problem_id == 79 %}
		<img src = /static/problem_image/79.jpg>
		{%endif%}
    </div>
	<h2>Input</h2>
    <div class="content">
        {%for var in problem_ab.input_data%}
        {{var}}<br>
        {%endfor%}
    </div>
	<h2>Output</h2>
    <div class="content">
        {%for var in problem_ab.output_data%}
        {{var}}<br>
        {%endfor%}
    </div>
	<h2>Sample Input</h2>
    <div class="content">
        {%for var in problem_ab.sample_input%}
        {{var}}<br>
        {%endfor%}
    </div>
	<h2>Sample Output</h2>
    <div class="content">
        {%for var in problem_ab.sample_output%}
        {{var}}<br>
        {%endfor%}
    </div>
	{%if problem.hint%}
		<h2>Hint</h2>
        <div class="content">
        {%for var in problem_ab.hint%}
        {{var}}<br>
        {%endfor%}
        </div>
	{%endif%}
	
	{%if problem.source%}
		<h2>Source</h2>
        <div class="content">
        {%for var in problem_ab.source%}
        {{var}}<br>
        {%endfor%}
        </div>
	{%endif%}
</div>

	<br><br>
	<center>
		{%if cid == -1%}
		[<a href= "/submit_code/num={{problem.problem_id}}">Submit</a>] [<a href = "/Search_status?problem_id={{problem.problem_id}}&user_id&language=-1&jresult=-1">Status</a>] [<a href="">Discuss</a>]
		{%else%}
        [<a href= "/submit_code/num={{problem.problem_id}}/cid={{cid}}">Submit</a>]
        [<a href= "/contest_search_status/cid={{cid}}/?problem_id={{cpid}}&user_id&language=-1&jresult=-1">Status</a>] 
        [<a href="">Discuss</a>]
		{%endif%}
	</center>
{%endblock%} 
