{%extends "ojbase.html"%}

{%block title%}Register{%endblock%}

{%block content%}
	<center>
		{%if error.error %}
			<span class="red">{{error.error}}</span>
		{%endif%}
		<form action="" method = "post"><br><br>
			<table>
				<tbody>
					<tr>
						<td width = "25%"> User ID :</td>
						<td width = "75%">{{form.name}} *</td>
					</tr>
					<tr>
						<td width = "25%"> Password :</td>
						<td width = "75%">{{form.password}} *</td>
					</tr>
					<tr>
						<td width = "25%">Repeat Password :&nbsp&nbsp</td>
						<td width = "75%">{{form.ensure_pw}} *</td>
					</tr>
					<tr>
						<td width = "25%"> Email :</td>
						<td width = "75%">{{form.email}} *</td>
					</tr>  
					<tr>
						<td width = "25%"> Website :</td>
						<td width = "75%">{{form.website}}</td>
					</tr>  
				</tbody>
			</table>
		<input type = "submit" value = "Register" onclick="check()"/> 
		</form>
	</center>
	
<script type="text/javascript">
	function check(){ 
		with(document.all){
	   if(password.value!=ensure_pw.value){
		 alert("Repeat Password does not match with the password!");
		 password.value = "";
		 ensure_pw.value = "";
	   }
			 
     var str = "[@/'\"#$%&^*]+";
		 var strForText = name.value;
		 var reg = RegExp(str);
		 if(reg.test(strForText))
		 {
			alert("The User ID contains the illegal characters!(@,/,#,$,%,&, ^,*,\ ...)");
			password.value = ""
			ensure_pw.value = ""
		 }  
	}
}
</script>
{%endblock%}
