{%extends "ojbase.html"%}

{%block title%}
sendmail
{%endblock%}

{%block content%}


	<center class = "usermail">
		{%if fun == '1' %}<a href = "/mail" class = "choose">Receive</a>
		{%else%}<a href = "/mail" class = "nochoose">Receive</a>{%endif%}
		{%if fun == '2'%}<a href = "/mail/pattern=2" class = "choose">NewMail</a>
		{%else%}<a href = "/mail/pattern=2" class = "nochoose">NewMail</a>{%endif%}
		
		{%if fun == '3'%}<a href = "/mail/pattern=3" class = "choose">Sended</a>
		{%else%}<a href = "/mail/pattern=3" class = "nochoose">Sended</a>{%endif%}
		
		{%if sendmail%}<a href = "/mail/pattern=4" class = "choose">SendMail</a>
		{%else%}<a href = "/mail/pattern=4" class = "nochoose">SendMail</a>{%endif%}
		<br/> <br/>
		
	</center>
	<form method = "POST">
		<table class = "tabmail">
			<tr>
				<td>SentTO:<td>
				<td>{{form.send_to}}<td>
			</tr>
			<tr>
				<td>Title:<td>
				<td>{{form.title}}<td>
			</tr>
			<tr>
				<td><td>
				<td>{{form.content}}<td>
			</tr>
			</table>
		<center>
			<input id="Submit" class="btn btn-info" type="submit" value="Send">
			<input type="reset" class="btn btn-danger" value="Reset">
		</center>
	</form>
{%endblock%}
