{% extends "ojbase.html"%}

{% block title %} status{% endblock %}

{%block right_top%}
{%include 'status_search.html'%}
{%endblock%}
{% block content %}
	
<div id="center">
    <table class='table table-bordered'>
		<thead>
			<tr>
				<th>RunID</th>
				<th>User</th>
				<th>ID</th>
				<th>Result</th>
				<th>score</th>
				<th>Memory</th>
				<th>Time</th>
				<th>Language</th>
				<th>Code Length</th>
				<th>Submit Time</th>
			</tr>
		</thead>

		<tbody>
			{%block status_base%}
			{% endblock %}
		</tbody>
	</table>
</div>
{% endblock %}
