{% extends "ojbase.html"%}

{% block title %} status{% endblock %}



{% block content %}
	
<div id="center" class="input-append">
	<form id="Search" action="/Search_status" method="GET">
		Problem ID:<input class="input-mini" style="height:24px" type="text" size="4" name="problem_id" value="">
		User:<input class="input-mini" style="height:24px" type="text" size="4" name="user_id" value="">
		Language:<select class="input-small" size="1" name="language">
			<option value="-1" selected="">All</option>
			<option value="0">C</option>
			<option value="1">C++</option>
		</select>
		Result:<select class="input-small" size="1" name="jresult">
			<option value="-1" selected="">All</option>
			<option value="4">AC</option>
			<option value="5">PE</option>
			<option value="6">WA</option>
			<option value="7">TLE</option>
			<option value="8">MLE</option>
			<option value="9">OLE</option>
			<option value="10">RE</option>
			<option value="11">CE</option>
			<option value="1">PD</option>
			<option value="0">PR</option>
			<option value="2">CI</option>
			<option value="3">RJ</option>
		</select>
		<input type="submit" class="input" value="Search">
	</form>
</div>

<h3 align='center'>
	{%for pagenum in list_info.len%}
		{%if pagenum  == list_info.page%}
			<span class=red>{{pagenum}}</span>
		{% else %}
			<a href="/problemlist/page={{pagenum}}">{{pagenum}} </a>
		{%endif%}
	{%endfor%}
</h3><center>
	
<div id="center">
	<table id="result-tab" class="table table-striped content-box-header" align="center" width="80%">
		<thead>
			<tr>
				<th>RunID</th>
				<th>User</th>
				<th>Problem</th>
				<th>Result</th>
				<th>Memory</th>
				<th>Time</th>
				<th>Language</th>
				<th>Code Length</th>
				<th>Submit Time</th>
			</tr>
		</thead>

		<tbody>
			{%for solu in solution %}	
			<tr class="evenrow">
				{% if context.ojlogin.nick == solu.user.nick %}
					<td><a href = "/source_code/runid={{solu.solution_id}}" >{{solu.solution_id}} </a></td>
				{% else %}
					<td>	{{solu.solution_id}}</td>
				{% endif %}
				<td>	<a href="/user_info/name={{solu.user.nick}}">{{solu.user.nick}}</a></td>
				<td>	<div class="center"><a href=" ">{{solu.problem.problem_id}}</a></div></td>

				{% for R,V in Result.items %}
					{% if R == solu.result %}

					{% if R == 1%}
					<td>	<span class="btn gray">{{V}}</span></td>
					{% elif R == 4%}
					<td>	<span class="btn btn-success">{{V}}</span></td>
					{% elif R == 6%}
					<td>	<span class="btn btn-danger">{{V}}</span></td>
					{% else %}
					<td>	<span class="btn btn-warning">{{V}}</span></td>
					{% endif %}

					{% endif %}

				{% endfor %}
				<td>	<div id="center" class="red">{{solu.memory}}</div></td>
				<td>	<div id="center" class="red">{{solu.time}}</div></td>
				{% for R,V in language_ab.items %}
					{% if R == solu.language %}
					<td>{{V}}</td>
					{% endif %}

				{% endfor %}
				<td>	{{solu.code_length}}B</td>
				<td>	{{solu.in_date}}</td>
			</tr>
			{% endfor %}
	</table>
</div>
{% endblock %}
