{%extends "ojbase.html"%}

{%block title%}
{{user.nick}}'info
{%endblock%}

{%block content%}
<center class = "user_info">
	<h1>{{user.nick}}</h1><br/>
    <p class = "user_site">Email:<a href="{{user.email}}">{{user.email}}</a>Website:<a href="{{user.website}}">{{user.website}}</a></p>
	{%if context.ojlogin%}
		{%if user.nick == context.ojlogin.nick%}
			Change: <a href="/changepw">Password</a> <a href="/changeinfo">UserInfo</a>
		{%endif%}
	{%endif%}
	<hr/>
	<h3><span class = "green">AC: </span>{{user.ac}}
	<span class = "green">Submit: </span>{{user.submit}}</h3>
<div width = "70%">
	<hr/>
    <h2>Solved problems</h3><br>
	<p>
    {%for pid in submitAc_list%}
    <a class = "user_submit" href = "/problem/num={{pid}}">{{pid}}&nbsp </a>
    {%endfor%}
	</p>
    <hr/>
    <h2>Not Solved problems</h2><br>
    <p> 
    {%for pid in not_solved%}
    <a class = "user_submit" href="/problem/num={{pid}}">{{pid}}&nbsp</a>
    {%endfor%}
    </p>
    <hr/>
	
</div>
</center>
{%endblock%}

