{%extends "ojbase.html"%}

{%block title%}
{{user.nick}}'info
{%endblock%}

{%block content%}
<center class = "user_info">
	<h1>{{user.nick}}</h1><br/>
	<p class = "user_site">Email:<a href="mailto:{{user.email}}">{{user.email}}</a>  Website:<a href="{{user.website}}"/>{{user.website}}</p>
	{%if context.ojlogin%}
		{%if user.nick == context.ojlogin.nick%}
			Change: <a href="/changepw">Password</a> <a href="/changeinfo">UserInfo</a>
		{%endif%}
	{%endif%}
	<hr/>
	<h3><span class = "green">AC: </span>{{user.ac}}
	<span class = "green">Submit: </span>{{user.submit}}</h3>
	<hr/>
	<h3>list of solved problems</h3>
	<p clsss = "user_submit">
	{%for submit in submitions%}
		<a href = "problem/num={{submit.problem.problem_id}}"/>{{submit.problem.problem_id}}
		
	{%endfor%}
	<a href = "/source_code/runid=1"> 1023 </a>
	a a a a a a a a a a a  a a a a a a a a a a a a a a a a a a a a a a a  a a a a a a a a a a a a a a a a a a a a 
		a a a a a a a a a a a a a a a a a   a a a a a a a a a a a a a a a a a a  a a a a a  a a a a a a a  a a a a a a  a  a
		a  a a a a a a a a a a a a a a a a  a a a a a a a a a a a a a a a a a a a a a a a  a a a a a a a a a a a a a a a a a a a a 
		a a a a a a a a a a a a a a a a a   a a a a a a a a a a a a a a a a a a  a a a a a  a a a a a a a  a a a a a a  a  a
		a  a a a a a 
	</p>
	
</center>
{%endblock%}

