{%extends "ojbase.html"%}

{%block title%}
user_rank
{%endblock%}

{%block content%}

<h3 align='center'>
	{%for pagenum in list_info.len%}
		{%if pagenum  == list_info.page%}
			<span class=red>{{pagenum}}</span>
		{% else %}
			<a href="/rank/page={{pagenum}}">{{pagenum}} </a>
		{%endif%}
	{%endfor%}
</h3>
<br/>
	<table width = "70%" align = "center" id = "rankset">
		<thead>
			<th width="5%" align="center"><b>Rank</b></b></td> 
			<th width="10%" align="center"><b>User</b></td>
			<th width="10%" align="center"><b>Nick</b></b></td>
			<th width="5%" align="center"><b>AC</b></td>
			<th width="5%" align="center"><b>Submit</b></b></td>
		</thead>
	
		<tbody>
			{% for user in users %}
 				<tr class = "{% cycle 'list_one' 'list_two' %}">
					<td>{{user.rank}}</td>
					<td><a href="/user_info/name={{user.nick}}">{{user.nick}}</a></td>
					<td>{{user.nick}}</td>
					<td>{{user.ac}}</td>
					<td>{{user.submit}}</td>
				</tr>						 
			{%endfor%}
		</tbody>
	</table>
	
{%endblock%}
