@import url(../bootstrap/css/bootstrap.css);
a {
    color: #1A5CC8;
    text-decoration: none;
}
a:hover {
    color: orange;
    text-decoration: underline;
}
h2 {
    color: blue;
}
#wrapper {
    width: 95%;
    position: relative;
    left: 2.5%;
}
input{
   height:24px;
}

.toprow {
    background-color: #1A5CC8;
    color: #FFFFFF;
    font-weight: bold;
    white-space: nowrap;
    /*background: url("../image/menu_bg.png");*/
}
.toprow a {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}
.toprow a:hover {
    color: orange;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}
.oddrow {
    background-color: #E5ECF9;
    padding:8px;
    white-space: nowrap;
}
.evenrow {
    background-color: #FFFFFF;
    padding:8px;
    white-space: nowrap;
}
body {
    background-color: #FFFFFF;
    background-image: url("../image/back.png");
    background-repeat: repeat-x;
}
.hd {
    color: #FFFFFF;
    font-weight: bold;
}
.time {
    text-align: right;
}
.ip {
    padding-right: 5px;
    text-align: right;
}
tr.userinfo {
    background-color: #FFFFF0;
    font-size: 16px;
}
span.yes {
    color: green;
    font-weight: bolder;
}
span.no {
    color: red;
    font-weight: bolder;
}
.green {
    color: green;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.gray {
    color: gray;
}
.orange {
    color: orange;
}
.navy {
    color: navy;
}
span.exadmin {
    color: gray;
}
.center,#center {
	width=100%;
    text-align: center;
}

.sampledata {
    background: none repeat scroll 0 0 #8DB8FF;
    font-family: Monospace;
    font-size: 18px;
    white-space: pre;
}
#head {
    height: 53px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 1;
}
#menu {
    /*background: url("../image/menu_bg.png") repeat scroll 0 0 transparent;*/
    font-weight: bold;
    height: 35px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 2;
}
.menu_item {
    display: inline;
    position: relative;
    top: 5px;
    vertical-align: bottom;
}
.menu_item a {
    color: #FFFFFF;
    font-size: 20px;
    top: 2px;
}
.menu_item_selected{
    color:orange;
}

#profile {
    font-weight: bold;
    height: 32px;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 3;
}
#broadcast {
    color: red;
    height: 50px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 4;
}

#foot {
    height: 133px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 7;
}
#logo {
    position: static;
    vertical-align: middle;
}

/*the css of the problem list*/
#problemset th{
    background-color:lightblue;    
}

#problemset tr td{
	padding:5px 5px;
	text-align:center;
}

.list_one {
	background:#fff;
}

.list_two{
	background:#eee;
}

#problemset tr:hover{
	background:#e5effa; 
}

/*rank set*/
#rankset th{
	background-color:lightblue;
}

#rankset tr td{
	text-align:center;
	padding:5px 5px;
}
#rankset tr:hover {
	background:#e5effa;
}	
/*the login and register or the usr_info*/
#contest{
    
	background-color:lightblue;
	padding:8px 8px;
}
#contest tr td{
	text-align:center;
	padding:8px 8px;
}
#contest tr:hover {
	background:#e5effa;
}	
#headlogin .userinfo{
	position: absolute;
	right:15px;
	top:20px;
	font-size:18px;
}

#headlogin .logout{
	position: absolute;
	right:15px;
	top:45px;
	font-size:18px;
}

#headlogin a{
	color:#ccc;
}

#headlogin b{
	color:#ccc;
}


#headlogin a:hover{
	color:#fff;
}
/*the description of the content*/
div.content {
    background: none repeat scroll 0 0 #E4F0F8;
    font-family: Times New Roman;
    font-size: 20px;
    line-height: 24px;
    height: auto;
    margin: 0;
    padding: 0 20px;
    text-align: left;
    white-space:normal;
}

#main {
    height: auto;
    position: static;
    width: 100%;
    z-index: 6;
}

.submit{
	resize: none;
}

/*user's infomation*/
.user_info .user_site{
	font-size:20px;
}

.user_info p{
	width:50%;
}

/*login sumbit button*/
.class_submit{
	position:absolute;
	right:40%;
}

/*status's css table*/
#result-tab th{
	background-color:lightblue;    
	text-align:center;
}

#result-tab tr td{
	padding:5px 5px;
	text-align:center;
}

/*css for user mail*/
/*
.usermail .btn{
	width:10%;
	background:lightblue;
	font-weight:bold;
}
.usermail .btn:hover{
	background:lightgray;
}
*/
.usermail .tb{
	width:60%;
	border:1px solid #eee
}
.usermail .tb tr td{
	text-align:center;
	padding:5px 5px;
}
.usermail .choose{
	padding:5px 5px;
	font-size:15px;
	background:lightgray;
	font-weight:bold;
}

.usermail .nochoose{
	padding:5px 5px;
	font-size:15px;
	background:lightblue;
	font-weight:bold;
}

.tabmail{
	position:relative;
	left:40%;
}
.mail_reply{
	position:absolute;
	right:40%
}
.page_content{
	margin: 0,auto;
}
.contest_time{

	color: #993399;
}
.contest_st{
	font-size : 20px;
}

.user_submit{
    font-size: 20px
}
.pass{
    background: url("../image/1.png") center;
    background-repeat: no-repeat;
}
