{%extends "admin_base.html"%}

{%block title%}
problem_list
{%endblock%}

{%block content%}
<center><h1>the problem list</h1></center>
<h3 align='center'>
	{%for pagenum in list_info.len%}
		{%if pagenum  == list_info.page%}
			<span class=red>{{pagenum}}</span>
		{% else %}
			<a href="/admin/problem_list/page={{pagenum}}">{{pagenum}} </a>
		{%endif%}
	{%endfor%}

</h3><center>
	
<center>
	{%if form%}
		<form method="get" action = "/admin/pro_search">
			ID:{{form.search_id}}
			<input type="submit" name = "search"/>
		</form>
	{%endif%}
	<table width=90% style = "border-collapse:collapse" border=1px>
		<thead>
			<tr>
			<th width=5%></th>
			<th width=10%>title</th>
			<th width=5%>visible</th>
			<th width=5%>edit</th>
			<th width=5%>testData</th>
			<th width=10%>create time</th>
			</tr>
		</thead>
		<tbody>
			{%for problem in problems %}
				<tr>
					<td>{{problem.problem_id}}</td>
					<td><a href="/admin/edit_news/msgid={{problem.problem_id}}">{{problem.title}}</a></td>
					{%if problem.visible %}
					<td><a href='/admin/news_visible/msgid={{msg.id}}'>True</td>
					{%else%}
					<td><a href='/admin/news_visible/msgid={{msg.id}}'>False</a></td>
					{%endif%}
					<td><a href='/admin/edit_news/msgid={{problem.problem_id}}'>edit</a></td>
					<td><a href='/admin/edit_news/msgid={{msg.id}}'>testData</a></td>
					<td>{{problem.in_date}}</td>
				</tr>	
			{%endfor%}
		</tbody>
	</table>
</center>
{%endblock%}
