<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel=stylesheet href='/static/css/hoj.css' type='text/css'>

<html>
<head>
<title>Admin</title>
</head>

<body>
<hr>
<h4>
<ul>
	<li>
		<a class='btn btn-primary' href="/" target="main"><b>SeeOJ</b></a>
	{%if context.ojlogin.isManager %}
	<li>
		<a class='btn btn-primary' href="/admin/add_news" target="main"><b>AddNews</b></a>
	<li>
		<a class='btn btn-primary' href="/admin/news_list" target="main"><b>NewsList</b></a>
	{%endif%}
	{%if 'problem_add' in permlist%}
	<li>
		<a class='btn btn-primary' href="/admin/add_problem" target="main"><b>AddProblem</b></a>
	<li>
		<a class='btn btn-primary' href="/admin/problem_list" target="main"><b>ProblemList</b></a>
	{%endif%}
	
	{%if 'contest_add' in permlist%}
	<li>
		<a class='btn btn-primary' href="/admin/add_contest" target="main"><b>AddContest</b></a>
	<li>
		<a class='btn btn-primary' href="/admin/contest_list" target="main"><b>ContestList</b></a>
	{%endif%}
	
	{%if context.ojlogin.isManager %}
	<li>
		<a class='btn btn-primary' href="/admin/admin_list/" target="main"><b>AdminList</b></a>
	<li>
		<a class='btn btn-primary' href="/admin/rejudge" target="main"><b>ReJudge</b></a>
	<li>
	
		<a class='btn btn-primary' href="privilege_list" target="main"><b>PrivilegeList</b></a>
	{%endif%}
	
	<li>
		<a class='btn btn-primary' href="source_give" target="main"><b>GiveSource</b></a>
	<li>
		<a class='btn btn-primary' href="problem_export" target="main"><b>ExportProblem</b></a>
	<li>
		<a class='btn btn-primary' href="problem_import" target="main"><b>ImportProblem</b></a>
	<li>
		<a class='btn btn-primary' href="http://code.google.com/p/hustoj/" target="_blank"><b>HUSTOJ</b></a>
	<li>
		<a class='btn btn-primary' href="http://code.google.com/p/freeproblemset/" target="_blank"><b>FreeProblemSet</b></a>

</ul>
	<a href="problem_copy.php" target="main" title="Create your own data"><font color="eeeeee">CopyProblem</font></a> <br>
	<a href="problem_changeid.php" target="main" title="Danger,Use it on your own risk"><font color="eeeeee">ReOrderProblem</font></a>
<h4>
</body>
</html>
