{%extends "admin_base.html"%}

{%block title%}
add_data
{%endblock%}

{%block content%}	
	<center>
		<h1>the data of {{proid}} problem</h1>
		<p style = "color:red">{%if error.error%}
			{{error.error}}
			{%endif%}
		</p>
		
		<form method = 'POST'  enctype="multipart/form-data" >
			{{form.files}} 
			<input type='submit' value = 'Upload'/>
		</form>

		<table width=90% style = "border-collapse:collapse" border=1px>
		<thead>
			<tr>
			<th width=20%>filename</th>
			<th width=5%>view</th>
			<th width=5%>delete</th>
			</tr>
		</thead>
		<tbody>
			{%for file in files%}
			<tr>
			<td><a href = ""><img src="/static/image/txt.gif">{{file}}</a></td>
			<td>view</td>
			<td><a href = "/admin/delete_testdata/proid={{proid}}/filename={{file}}">delete</a></td>
			{%endfor%}
			</tr>
		</tbody>
	</center>
{%endblock%}
